.double-image-text-block{
  margin:9rem 0;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  .container{
    .single-block{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap:6.5rem;
      margin-top: 10rem;
      &:first-of-type{
        margin-top:0;
      }
      @media (max-width: 1280px){
        gap:3rem;
      }
      @media (max-width: 900px){
        grid-template-columns: 1fr;
        gap:5rem;
      }
      &.left{
        .image-area{
          border-radius: 0 15px 15px 0;
        }
        .content-area{
          width: 80%;
        }
      }
      &.right{
        .image-area{
          order:2;
          border-radius: 15px 0 0 15px;
          @media (max-width: 900px){
            width: 90%;
            margin-right: 0;
            margin-left: auto;
          }
        }
        .content-area{
          width: 80%;
          margin-left: auto;
          margin-right: 0;
          @media (max-width: 900px){
            margin:0 auto;
          }
        }
      }
      &.last{
        .content-area{
          justify-content: end;
        }
      }
      .image-area{
        overflow: hidden;
        @media (max-width: 900px){
          width: 90%;
        }
        img{
          @include imageCover(50%, 50%);
        }
      }
      .content-area{
        display: flex;
        flex-direction: column;
        justify-content: center;
        @media (max-width: 900px){
          width: 80%;
          margin:0 auto;
        }
        h2{
          line-height: 3rem;
          margin-bottom: 1.75rem;
          @media (max-width: 320px){
            br{
              display: none;
            }
          }
        }
        .content{
          p{
            margin-bottom: 1.75rem;
            &:last-of-type{
              margin-bottom: 0;
            }
          }
        }
        .logotypes{
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap:3rem;
          justify-content: left;
          margin-top: 3rem;
          @media (max-width: 1180px){
            grid-template-columns: 1fr;
          }
          @media (max-width: 900px){
            grid-template-columns: 1fr 1fr;
          }
          .logotype{
            width: 100%;
            max-width: 7rem;
            img{
              height: 100%;
              width: 100%;
              object-fit: contain;
            }
          }
        }

      }
    }
  }
}