.main-footer{
  padding:6.5rem 0 0;
  background-color: $footerbg;
  .container{
    @include structure();
    .top-footer{
      padding-bottom: 5rem;
      border-bottom:1px solid $bordergray;
      .wrapper{
        display: grid;
        grid-template-columns: 2fr 2fr 1fr;
        gap:3rem;
        @media (max-width: 800px){
          grid-template-columns: 1fr;
        }
        .col{
          display: flex;
          flex-direction: column;
          align-items: self-start;
          gap:2rem;
          .logo-area{
            max-height: 2.5rem;
            width: 100%;
            display: flex;
            justify-content: start;
            a{
              display: flex;
              height: 100%;
            }
            img{
              height: 100%;
              width: 100%;
            }
          }
          .description{
            max-width: 23.5rem;
            min-height: 5rem;
            p{
              color:$txtgray;
              line-height: 1.25rem;
              @media (max-width: 1024px){
                br{
                  display: none;
                }
              }
            }
          }
          .blue-button-area{
            display: flex;
          }
          .title{
            line-height: 2.5rem;
          }
          .info{
            display: flex;
            flex-direction: column;
            gap:.5rem;
            min-height: 5rem;
            .link{
              a{
                transition: .2s all ease-in-out;
              }
              &:hover{
                a{
                  color:$blue;
                }
              }
            }
          }
          .social-links{
            display: flex;
            gap:1.75rem;
            height: 2.65rem;
            .link{
              display: flex;
              align-items: center;
              justify-content: center;
              a{
                transition: .2s all ease-in-out;
                &:hover{
                  color:$blue;
                }
              }
            }
          }
          .footer-menu{
            display: flex;
            flex-direction: column;
            gap: 1rem;
            li{
              transition: .2s all ease-in-out;
              a{
                width: 100%;
                display: block;
                transition: .2s all ease-in-out;
              }
              &:hover{
                transform:translateY(0.15rem);
                a{
                  color:$blue;
                }
              }
            }
          }
        }
      }
    }
    .bottom-footer{
      padding:2.25rem 0;
      .wrapper{
        display: grid;
        gap:2rem;
        grid-template-columns: max-content .75fr;
        justify-content: space-between;
        align-items: center;
        @media (max-width: 800px){
          grid-template-columns: 1fr;
        }
        .left{
          @media (max-width: 800px){
            order:2;
          }
          .blue{
          text-decoration: underline;
          }
        }
        .right{
          .copyright{
            text-align: right;
            @media (max-width: 800px){
              text-align: left;
            }
            p{
              line-height: 1.25rem;
              @media (max-width: 1024px){
                br{
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }
}