header{
  .header{
    .container{
      @include fullStructure();
      .wrapper{
        display: grid;
        grid-template-columns: max-content 1fr max-content;
        padding:1.75rem;
        border-bottom: 1px solid $bordergray;
        .logo-area{
          max-width: 12rem;
          display: flex;
          align-items: center;
          justify-content: left;
          @media (max-width: 1300px){
            width: 100%;
          }
          a{
            display: flex;
            align-items: center;
            justify-content: left;
            img{
              width: 100%;
              @media (max-width: 1300px){
                width: 80%;
              }
              @media (max-width: 1100px){
                width: 70%;
              }
            }
          }
        }
        .menu-area{
          display: flex;
          align-items: center;
          justify-content: end;
          nav{
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 2.25rem;
            @media (max-width: 1300px){
              gap:1.5rem;
            }
            @media (max-width: 1100px){
              gap:1rem;
            }
            @media (max-width: 930px){
              gap:0.5rem;
            }
          }
        }
        .blue-button-area {
          margin-left: 5rem;
          display: flex;
          align-items: center;
          justify-content: center;
          @media (max-width: 1350px){
            margin-left: 3rem;
          }
          @media (max-width: 1100px){
            margin-left: 2rem;
          }
          a{
            display: block;
          }
        }
      }
    }
  }
}