@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../assets/fonts/#{$file_name}.woff") format("woff"),
    url("../assets/fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import "fonts";
@import "variable-mixins";
@import "body";
@import "header";
@import "footer";
@import "404";
@import "news";
@import "single-new";
@import "privacy";

@import "blocks/main-hero";
@import "blocks/about-me";
@import "blocks/board-rules";
@import "blocks/consultations-block";
@import "blocks/strategy-management";
@import "blocks/big-cta-block";
@import "blocks/news-block";
@import "blocks/about-me-hero";
@import "blocks/experience-block";
@import "blocks/2x-text-image-block";
@import "blocks/board-rules-hero";
@import "blocks/select-faqs";
@import "blocks/consultations-hero";
@import "blocks/strategy-hero";
@import "blocks/grid-blocks";
@import "blocks/contacts-block";
@import "blocks/calendly-hero";
@import "blocks/content";
